@charset "utf-8";

* {
   margin: 0;
   padding: 0;
}

.hidden {
   display: none;
}

.bgImage {
   position: absolute; 
   top: 0; 
   left: 0; 
   width: 100%; 
   height: 100%; 
   z-index: -1; 
   animation: fadeIn 0.5s linear;
}

#weather {
   display: flex;
   position: relative;
   color: white;
}


section#warp {
   display: flex;
   text-align: center;
   align-items: center;
   flex-direction: column;
   margin-top: 10%;
}

#clock {
   font-size: 100px;
   margin-bottom: 50px;
   color: white;
 }
 
 #clock span {
   font-family: "Oswald", sans-serif;
 }

section#work {
    display: flex;
    text-align: center;
    flex-direction: column;
 }

 section#work #quote {
    color: white;
 }

button {
   width: 40px;
   height: 20px;

 }

 canvas{
    width:600px;
    height:300px;
    border:1px solid}
 section#images-up{
    background:lightgrey
   }




